<app-nav></app-nav>

<br/>
<button aria-haspopup="dialog" class="sky-btn sky-btn-default sky-margin-inline-default" type="button" (click)="saveDemoData()"> Save Demo Data </button>

<button aria-haspopup="dialog" class="sky-btn sky-btn-default sky-margin-inline-default" type="button" (click)="removeAllData()"> Remove All Data </button>

<br/>
<h2>Click on the Button to change the Message</h2>
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('hi_In')"> {{ hindiBtn }} </button> &nbsp;&nbsp;
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('en_US')"> {{ englishBtn }} </button> &nbsp;&nbsp;
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('eo')"> {{ esperantoBtn }} </button> &nbsp;&nbsp;
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('en_ES')"> {{ spanichBtn }} </button>
<br/><br/>
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('fr_FR')"> {{ frenchBtn }} </button> &nbsp;&nbsp;
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('it_IT')"> {{ italianBtn }} </button> &nbsp;&nbsp;
<button class="sky-btn sky-btn-primary" (click)="changeLanguage('nl_NL')"> {{ dutchBtn }} </button>

<br/>
<h2>
    &nbsp;&nbsp; {{ libDefaultGreeting }}
</h2>

<sky-list [data]="items">
    <sky-list-toolbar></sky-list-toolbar>

    <sky-list-view-grid fit="scroll">
        <sky-grid-column field="movieId" heading="Movie ID"></sky-grid-column>
        <sky-grid-column field="movieName" heading="Movie Name"></sky-grid-column>
        <sky-grid-column field="movieDirector" heading="Director"></sky-grid-column>
        <sky-grid-column field="movieActor" heading="Actor"></sky-grid-column>
        <sky-grid-column field="movieType" heading="Type"></sky-grid-column>
        <sky-grid-column field="movieReleased" heading="Released"></sky-grid-column>
        <sky-grid-column field="movieRating" heading="Rating"></sky-grid-column>
    </sky-list-view-grid>

    <sky-list-paging pageSize="5"></sky-list-paging>
</sky-list>

<!--
<table class="table table-striped">
    <thead style="background: skyblue;">
        <tr>
            <th>ID</th>
            <th style="text-align: center;">Name</th>
            <th>Director</th>
            <th>Actor</th>
            <th>Type</th>
            <th>Release Data</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let movie of movieData'>
            <td>{{movie.movieId}}</td>
            <td><b>{{movie.movieName}}</b></td>
            <td>{{movie.movieDirector}}</td>
            <td>{{movie.movieActor}}</td>
            <td>{{movie.movieType}}</td>
            <td>{{movie.movieReleased}}</td>
            <td>{{movie.movieRating}}</td>
        </tr>
    </tbody>
</table>-->